@using GenericStockManagement.ViewModels
@model HomeViewModel

@{
	ViewData["Title"] = "Home Page";
	var role = Context.Session.GetString("Role");
}

<div class="text-center">
	<h1 class="display-4">Products & Categories</h1>

	<div>
		<form asp-action="StockActions">
			<div class="button-container">
				@if (role == "Admin")
				{
					<div class="dropdown">
						<a class="btn btn-secondary Stock-Actions" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>
								<img src="images/box-open.svg" alt="Alternate Text" />
								<img src="images/angle-small-down.svg" alt="Alternate Text" />
							</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<button class="dropdown-item" type="submit" name="submitButton" value="Delete">Delete</button>
							<button class="dropdown-item" type="submit" name="submitButton" value="Update">Update</button>
						</div>
					</div>
				}
				<span>
					@if (role == "Admin" || role == "Contributor")
					{
						<a id="addStockBtn" class="btn btn-secondary Add-Stock" asp-controller="Product" asp-action="Create">
							<img src="images/plus.svg" alt="Alternate Text" />
						</a>
					}
				</span>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>
							<input class="form-check-input" type="checkbox" id="selectAllCheckbox">
						</th>
						<th>ID</th>
						<th>Product Name</th>
						<th>Category</th>
						<th>Brand</th>
						<th>Description</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Image</th>
					</tr>
				</thead>
				<tbody>
					@{
						if (Model?._products?.Any() == true)
						{
							foreach (var product in Model._products)
							{
								<tr>
									<td> <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="selectedIds" value="@product.Id"></td>
									<td>@product.Id</td>
									<td>@product.Name</td>
									<td>@Model._categories?.FirstOrDefault(x => x.Id == product.CategoryId)?.Name</td>
									<td>@product.Brand</td>
									<td>@product.Description</td>
									<td>@product.Price</td>
									<td>@product.Quantity</td>
									<td><img src="@product.ImageThumbnail" alt="Product Image" /></td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td colspan="6">No products available</td>
							</tr>
						}
					}

				</tbody>
			</table>
		</form>
	</div>
	<br />
	<form asp-action="CategoryActions">
		<div class="button-container">
			@if (role == "Admin")
			{
				<div class="dropdown">
					<a class="btn btn-secondary Stock-Actions" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span>
							<img src="images/box-open.svg" alt="Alternate Text" />
							<img src="images/angle-small-down.svg" alt="Alternate Text" />
						</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<button class="dropdown-item" type="submit" name="submitButton" value="Delete">Delete</button>
						<button class="dropdown-item" type="submit" name="submitButton" value="Update">Update</button>
					</div>
				</div>
			}
			<span>
		@if (role == "Admin" || role == "Contributor")
		{
			<a id="addStockBtn" class="btn btn-secondary Add-Stock" asp-controller="Category" asp-action="Create">
				<img src="images/plus.svg" alt="Alternate Text" />
			</a>
		}
		</span>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					<input class="form-check-input" type="checkbox" id="selectAllCatCheckbox">
				</th>
				<th>Category Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			@{
				if (Model._categories.Any())
				{
					foreach (var category in Model._categories)
					{
						<tr>
							<td> <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="selectedCatIds" value="@category.Id"></td>
							<td>@category.Name</td>
							<td>@category.Description</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="3">No categories available</td>
					</tr>
				}
			}
		</tbody>
	</table>
	</form>
</div>


@section Scripts {
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Product Select All
			const selectAll = document.getElementById('selectAllCheckbox');
			const checkboxes = document.querySelectorAll('input[name="selectedIds"]');
			selectAll.addEventListener('change', function () {
				checkboxes.forEach(cb => cb.checked = selectAll.checked);
			});

			// Category Select All
			const selectAllCat = document.getElementById('selectAllCatCheckbox');
			const categoryCheckboxes = document.querySelectorAll('input[name="selectedCatIds"]');
			selectAllCat.addEventListener('change', function () {
				categoryCheckboxes.forEach(cb => cb.checked = selectAllCat.checked);
			});
		});
	</script>
}

